
.DetailsContainer {
    margin: 0.5rem 0;
    width: 85vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 5px 10px;
}

.DetailsContainer::-webkit-scrollbar {
    border-radius: 15px;
    width: 8px;
}

/* Track */
.DetailsContainer::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
.DetailsContainer::-webkit-scrollbar-thumb {
    padding: 10px 0;
    border-radius: 15px;
    background: #888;
}

/* Handle on hover */
.DetailsContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}