.emailForm {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 70vw, 1400px);
    height: 70vh;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 5px 10px;
}

.contactme {
    margin: 0 0.5rem;
}

#toFromSubject {
    margin: clamp(2px, 1vw, 40px);
    padding: clamp(2px, 0.5vw, 40px);
    font-size: clamp(14px, 1.5vw, 30px);
}

.emailInput {
    width: clamp(20px, 65%, 80vw);
    height: 2rem;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    font-family: 'Chivo';
    font-weight: 300;
    padding: 0.1rem 0.1rem;
    font-size: clamp(14px, 1.5vw, 30px);
}

.emailBody {
    font-family: 'Chivo';
    font-weight: 300;
    padding: 0.1 0.1rem;
    outline: none;
}

textarea {
    width: 100%;
    height: clamp(100px, 30vh, 500px);
    padding: 0.1rem 0.1rem;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    resize: none;
    font-size: clamp(14px, 1.5vw, 30px);
}

.submit {
    margin: auto;
    width: 10rem;
    height: clamp(30px, 5vh, 10%);
    border: 2px solid;
    border-radius: 15px;
    font-family: 'Chivo';
    font-weight: 300;
    font-size: clamp(14px, 1.5vw, 30px);
}

.submit:hover {
    transition: filter 300ms;
    filter: opacity(25%);
}

label {
    font-family: 'Chivo';
    font-weight: 300;
}

.emailHeader {
    display:flex;
    flex-direction: column;
    margin-bottom: 2rem;
}