:root {
  --speed: 500ms;
}
.FrontPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
  list-style: none;
  font-family: 'Chivo';
  font-weight: 300;
}

.NavBar {
  border-bottom: 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin: auto;
  margin-bottom: 2vh;
  margin-top: 0px;
}

ul {
  margin: 0px;
  padding: 0px 20px;
}

#name {
  font-family: 'Chivo';
  font-weight: 300;
  padding: 0px 10px;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 5vw 5vh;
}

h1 {
  font-weight: 300;
  font-size: 54px;
}

h2 {
  font-weight: 300;
  font-size: 30px
}

h3 {
  font-family: 'Chivo';
  font-weight: 300;
  padding: 0px 20px;
  font-size: 24x
}

li, p {
  list-style: none;
  font-family: 'Chivo';
  font-weight: 300;
  font-size: 30px;
  display: inline-block;
  padding: 0px 20px;
}

li :hover{
  transition: filter 300ms;
  filter: invert(50%);
}

.theme_button {
  position: relative;
  bottom: -3px;
}

.menu {
  padding: 0px 20px;
}

.menu :hover{
  transition: filter 300ms;
  filter: invert(50%);
}

.rightbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 40%;
}

.rightbaritem {
  padding: 1rem 0;
}


@media screen and (min-width: 600px){
  .card-tall {
      grid-row: span 2 / auto;
  }

  .card-wide {
      grid-column: span 2 / auto;
  }
}

@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Chivo';
	src: url('../fonts/Chivo/Chivo-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}