@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
.website {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

#light .App {
  background-color: #fdefee;
}

#dark .App {
  background-color: #282828;
}

:root {
  --size: 100vw + 100vh;

}

h1 {
  font-weight: 300;
  font-size: clamp(2em, 5vmin, 4rem);
  animation: none;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: clamp(0.1vw, 0.67em, 1vw);
  margin-bottom: clamp(0.1vw, 0.67em, 1vw);
}

.aboutme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px clamp(5px, 10vw 5rem);
  align-items: center;
  justify-content: center;
}

.aboutmedescription {
  width: clamp(20rem, 40vw, 40rem);
  height: clamp(auto, 35em, 50vh);
  margin: 1rem;
}

.aboutmepicdiv {
  width: clamp(10rem, 40rem, 15vw);
  height: clamp(auto, 35rem, 50vw);
}

.aboutmepic {
  width: clamp(100px, 12.5vw, 400px);
  height: clamp(132px, 16.5vw, 528px);
  border: solid 2px;
  border-radius: 15px;
  margin: 0.5rem;
}

#aboutmepicdescription {
  margin: 0px;
}

.frontPageScroll {
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

.bottom-scroll {
  opacity: 0;
  animation-name: MoveUpDown;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-delay: 5s;
  margin: clamp(2px, 2vw, 3rem);
}

.scrollDownText {
  opacity: 75%;
  animation-name: Glow;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 7s;
}

@keyframes Glow {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  75% {
    opacity: 75%;
  }
}

@keyframes MoveUpDown {
  0%{
    transform: translateY(3px);
    opacity: 5%;
  }
  50% {
    transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    transform: translateY(3px);
    opacity: 5%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}